
*{
    margin: 0;
    padding: 0;
}

body{   
  background-image: linear-gradient(-120deg, #025891bb, #731cbab9);
  
    
    
    
}


/*Header*/

.inicio {
    
    background:url(./img/header.jpg);
    background-position: 80% 30%;
     
    background-size: cover;
    padding-top: 0%;
    padding-bottom: 20%;     
   
}

#logo{
    
    display:flex;   
    align-items:flex-end;    
    width: 10%;    



.filtros{
    height: 3em;
    width: 50%;
    background-color:rgba(244, 225, 51, 0.589);
   
    display: flex;
    align-items:center ;
    justify-content: space-between;
    flex-direction: row;
    
}
#menudesple{
    width: 30%;
    height: 100%;
    display: block;
    flex-direction: column;
    
}
#textofiltro{
    display: flex;
    width: 100%;
    
}

  .filter {
      visibility: hidden;
      opacity: 0;
      order: 1;
  }

.card-filter{
    margin-left: 20px;
    margin-top: 20px;
    
}



#cartas{
    z-index: -1;
}

.contenidoflex{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.card{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: blanchedalmond;
    
}

.namechamp{
 border: solid red;
}

.imgchamp{
    border: solid royalblue;

}
#subitem1{
    display: none;
}
#desplegables{
    display: none;
}
.inline-block {
    display: inline-block;
    width: 10%;
    height: 30%;
    border: 1px solid red;
  }

 #segundoscreen{
    display:block; 
    position: absolute; 
    
}
.imagenes{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  
  
}

footer{
    background: #353535;
    height: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}


.imageneshor {
    
    display: flex;
    justify-content:center;
    align-items:center;
    
   
    
    
    
}
.imagenes{
    
    width: 30%;
    margin-left: 30%;
}
.contenedormenu{
    position: relative;
    z-index: 1;
}
  
