/*Header*/
*{
    margin: 0;
    padding: 0;
}

body{   
  background-image: linear-gradient(-120deg, #025891bb, #731cbab9);
  
    
    
    
}

/*Header*/

.inicio {
    
    background:url(./img/header.jpg);
    background-position: 80% 30%;
     
    background-size: cover;
    padding-top: 0%;
    padding-bottom: 20%;
    
  
   
   
   
}
#logo{
    
    display:flex;
   
    align-items:flex-end;
    
    width: 10%;
    

}
#logodentro{
    width: 100%;
    
}

 
<<<<<<< HEAD

=======
footer{
    background: #353535;
    max-height: 50%;
   
}

.imageneshor {
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    background-color: violet;
    width: 24.5%;
    
    
}
.imagenes{
    display: flex;
    align-items: center;
width: 25%;
}
>>>>>>> 95a80159ff43ac0e9830e125222029e1201d9d0e
.filtros{
    width: 20%;
    display: inline-block;
    text-align: center;
}
a.menusito{
    color:black;
    display: block;
    text-decoration: none;
    

}
a.menusito:hover{
    background-color: #d2691e;
}
.vertical{
    display: block;
    display: none;
    
}
.roles{
    display: block;
    display: none;

}
.posicion{
    display: block;
    display: none;

}
.filtros:hover .vertical{
    display:block;
}
/*.filtros .vertical:hover .roles{
    display:block;
}*/
.filtros .vertical:hover .posicion{
    display:block;
}

#buscador{
    width: 80%;
}



.inline-block {
    display: inline-block;    
    width: 10%;
    height: 30%;
    border: 1px solid red;
  }

 